<%= form_tag sessions_create_path, remote: true,  :html => { :id => "customer-submit" } do |f| %>
    <div class="form-group">
      <%= label_tag :email, t('shoppe.customers.email') %>
      <%= text_field_tag :email, nil, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= label_tag :password, "contraseña" %>
      <%= password_field_tag :password, nil, :class => "form-control" %>
    </div>
    
    <div class="actions">
      <input  type="submit" name="commit" value="Ingresar Datos" class="btn-default">
    </div>
<% end %>

<%= render partial: 'orders/checkout_reload'%>



