<div id="customer-user" class="account-edit">
  <div class="cloud-container">
    <%= image_tag("nube-3.png", class:'bigcloud-1') %>
    <%= image_tag("nube-4.png", class:'smallcloud-1') %>
    <%= image_tag("nube-3.png", class:'bigcloud-2') %>
    <%= image_tag("nube-4.png", class:'smallcloud-2') %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center account-welcome">
        <h1 class="txt-fat">Hola <%= @customers_user.first_name %></h1>
        <p class="txt-orange">Acá puedes ingresar tu nueva contraseña.</p>
      </div><!-- /account-welcome -->

      <div class="col-md-6 col-md-offset-3">
        <div class="account-edit-info password-reset">
          <%= form_tag password_resets_path, method: :post, html:{ class: "form-signin"} do %>
		      <h2 class="form-signin-heading">Por favor ingresa tu correo electrónico para enviarte la información.</h2>
		      <div class="field">
		        <%= label_tag :email, nil, class: "sr-only" %>
		        <%= email_field_tag :email, nil, class: "form-control", placeholder: "Correo electrónico" %>
		      </div>
		      <%= submit_tag "Restablecer la contraseña", class: "btn btn-lg btn-primary btn-block" %>
		  <% end %>
        </div><!-- /account-edit-info -->
      </div><!-- /col-md-4 -->

 

    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /account-edit -->
<%= render "layouts/footer" %>
