<% my_remote ||= false %>
<%= form_for @address, :url => address_index_path, :remote => my_remote, :html => {:class => 'checkout disableable', :id=> 'address-form'} do |f| %>
    <%= f.error_messages %>
    <div class="customer">
      <%= field_set_tag do %>
          <dl>
            <dt>
              <%= f.label :address1, "Direcci칩n de Entrega", :class => 'req' %>
            </dt>
            <dd>
              <%= f.text_field :address1, :placeholder => "Calle" %>
            </dd>
            <dd>
              <%= f.text_field :address3, :value=> "Bogot치",:placeholder => "Cuidad" %>
            </dd>
            <dd>
              <%= f.text_field :address4, :value=> "Bogot치 D.C.", :placeholder => "Departamento" %>
            </dd>
            <dd>
              <%= f.text_field :postcode, :value=> "4-72",:placeholder => "Postcode", :class => 'postcode' %>
            </dd>
            <dd>
              <%= f.collection_select :country_id, Shoppe::Country.ordered, :id, :name , {:selected => "Colombia"}%>
            </dd>
            <dd>

              <input class="btn" type="submit" name="commit" value="Agregar direcci칩n">
            </dd>

          </dl>
      <% end %>
    </div>
<% end %>