<% my_remote ||= false %>
<%= form_for @address, :url => address_index_path, :remote => my_remote, :html => {:class => 'checkout disableable', :id=> 'address-form'} do |f| %>
    <% instance_errors(Shoppe::Customer, @customers_user)%>
    <div class="customer">
      <%= field_set_tag do %>
        <div class="form-group">
          <%= f.label :address1, "Dirección de Entrega (Bogotá)", :class => 'req' %>
          <%= f.text_field :address1, :placeholder => "Calle abc #35-22 apto.02", :class => "form-control" %>
        </div>

        <div class="form-group hidden">
          <%= f.text_field :address3, :value=> "Bogotá",:placeholder => "Cuidad" %>
        </div>

        <div class="form-group hidden">
          <%= f.text_field :address4, :value=> "Bogotá D.C.", :placeholder => "Departamento" %>
        </div>

        <div class="form-group hidden">
          <%= f.text_field :postcode, :value=> "4-72",:placeholder => "Postcode", :class => 'postcode' %>
        </div>

        <div class="form-group hidden">
          <%= f.collection_select :country_id, Shoppe::Country.ordered, :id, :name , {:selected => "Colombia"}%>
        </div>
        
        <div class="add-address">
          <input class="txt-link" type="submit" name="commit" value="Agregar dirección">
        </div>

      <% end %>
    </div>
<% end %>