<div class="container-fluid container-cookie-tracker">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div id="cookie-tracker" class="cookie-tracker">
        <h1 class="txt-fat">¿En qué andan mis galletas?</h1>
        <p>
          Por favor, ingresa tu número de orden:
        </p>
        <%= form_tag cookie_tracker_path, method: :post, remote: true  do %>
          <div class="form-group">
            <%= label_tag 'cookie-number', 'Número de orden', class:'sr-only' %>
            <%=  number_field_tag 'cookie-number', '0', class: 'form-control'  %>
          </div>
          <%= submit_tag "Buscar" ,class: "btn-default txt-fat"%>
        <% end %>
      </div><!-- /cookie-tracker -->
    </div><!-- /text-center -->
  </div><!-- /row -->
</div><!-- /container-fluid -->
<div class="cookie-tracker-gimmicks">
  <div class="cookie-tracker-clouds">
    <%= image_tag("nubes-cookie-tracker.png") %>
  </div><!-- /cookie-tracker-clouds -->
  <div class="cookie-1" data-parallaxer="enabled" data-parallaxer-speed="0.5">
    <%= image_tag("cookie-1.png") %>
  </div><!-- /cookie-1 -->
  <div class="cookie-2" data-parallaxer="enabled" data-parallaxer-speed="0.5">
    <%= image_tag("cookie-2.png") %>
  </div><!-- /cookie-2 -->
</div><!-- /cookie-tracker-gimmicks -->