<div class="basket-number-items">
    Vas a ordenar <%= pluralize @ajax_current_order.total_items, 'galletas'%>:
</div>
<div class="basket-items-info">
	<% for item in @ajax_current_order.order_items %>
		<div class="basket-item">
			<div class="basket-item-info">
				<%= item.ordered_item.full_name %>(x<%= item.quantity %>)
			</div><!-- /basket-item-info -->

			<div class="basket-item-total">
				<%= item.total.floor %> $
			</div><!-- /basket-item-total -->
		</div><!-- /basket-item -->
	<% end %>
</div><!-- /basket-items-info -->
<div class="basket-checkout">
	<div class="basket-total-value">
		Total: <%= @ajax_current_order.total.to_i %> $ COP.
    </div><!-- /basket-total-value -->

    <div class="basket-order">
        <%= link_to "Ordenar", checkout_path, class:'btn-default btn-order txt-fat' %>
    </div><!-- /basket-order -->
</div><!-- /basket-checkout -->
