<%= form_for @order, url: checkout_confirmation_path, method: :patch,remote: true, html: {class: ''} do |f| %>
    <div class="customer">
      <%= field_set_tag do %>
        <div class="form-group">
          <%= f.label :first_name, "Name", :class => 'req' %>
          <%= f.text_field :first_name, :placeholder => 'Nombre', :class => 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.label :email_address, 'Tu Correo Electronico', :class => 'req' %>
          <%= f.text_field :email_address, :placeholder => 'ejemplo@mail.com', :class => 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.label :phone_number, 'Tu numero telefonico o celular', :class => 'req' %>
          <%= f.text_field :phone_number, :placeholder => '3103124528', :class => 'form-control'  %>
        </div>
      <% end %>
      <%= field_set_tag do %>
          <div class="form-group">
            <%= f.label :billing_address1, "Dirección (solamente en bogotá)", :class => 'req' %>
            <%= f.text_field :billing_address1, :placeholder => "Calle", :class => "form-control"  %>
          </div>
      <% end %>
    </div>
    <p class="submit">
      <%= f.submit "Continuar con el pago", class:'btn-default' %>
    </p>
<% end %>

<%= render partial: 'orders/checkout_reload'%>
