<% @page_title = 'Checkout' %>
<div class="checkout">
  <p class="secure">Conección segura</p>
  <h2>Confirme Su orden</h2>
  <p class="intro">
    Texto para introducción de orden
  </p>
  <h3>Confirmación de orden</h3>
  <%= render 'shared/order_items', :order => @order %>
  <h3>Dirección de la orden</h3>

  <% if current_customer %>
      <%= csrf_meta_tag %>
      <div id="checkout-information" class="row">
        <div class="col-sm-6">
          <%= render partial: 'address/new', :address => @address, locals: {:my_remote => true}  %>
        </div>
        <div class="col-sm-6">
          <%= render partial: 'address/list', :address => @addresses  %>
        </div>
      </div>
      <%= hidden_field_tag "current-customer", current_customer.id %>
      <div class="row">
        <div class="col-xs-12">
          <button id="confirmation-customer" class="btn">
            Realizar pedido
          </button>
        </div>
      </div>
<%end%>


  <% unless current_customer %>
      <div class="row">
        <h5 class="col-sm-3">
          <%= form_tag checkout_express_path, :remote => true, method: :get do%>
            <%= submit_tag 'Express Checkout',  class: "customer-user-record" %>
          <% end %>

        </h5>
        <h5 class="col-sm-3">
          <%= form_tag  new_customers_user_path, :remote => true, method: :get do%>
            <%= submit_tag 'Crear una cuenta nueva', class: "customer-user-record"%>

          <% end %>
        </h5>
        <h5 class="col-sm-3">
          <%= form_tag  sessions_new_path, :remote => true, method: :get do%>
            <%= submit_tag "A mi Cuenta", id: "login-customer", class: "customer-user-record"  %>
          <% end %>
          <p>
            <small>
              <%= link_to "¿Olvidó su contraseña?", new_password_reset_path %>
            </small>
          </p>
        </h5>
      </div>
      <div class="row">
        <h5 class="col-sm-3">
          <%= link_to "Ingresar con Facebook", auth_facebook_callback_path , id: "login-fb",class: "customer-user-record"  %>
        </h5>
      </div>
  <% end %>

  <div id="customer-user"></div>
  <% unless current_customer %>
    <div id="checkout-information"></div>
  <% end %>

</div>

