<% @page_title = 'Checkout' %>
<div class="checkout">
  <p class="secure">Conecci贸n segura</p>
  <h2>Confirme Su orden</h2>
  <p class="intro">
    Texto para introducci贸n de orden
  </p>
  <h3>Confirmaci贸n de orden</h3>
  <%= render 'shared/order_items', :order => @order %>
  <h3>Direcci贸n de la orden</h3>

  <% if current_customer %>
      <%= csrf_meta_tag %>
      <div id="checkout-information" class="row">
        <div class="col-sm-6">
          <%= render partial: 'address/new', :address => @address  %>
        </div>
        <div class="col-sm-6">
          <%= render partial: 'address/list', :address => @addresses  %>
        </div>
      </div>
      <%= hidden_field_tag "current-customer", current_customer.id %>
      <div class="row">
        <div class="col-xs-12">
          <button id="confirmation-customer" class="btn">
            Realizar pedido
          </button>
        </div>
      </div>
  <%end%>


  <% unless current_customer %>
      <div class="row">
        <h5 class="col-sm-3">
          <%= (link_to 'Express Checkout', checkout_express_path, :remote => true, class: "customer-user-record")%>
        </h5>
        <h5 class="col-sm-3">
          <%= (link_to 'New Customers user', new_customers_user_path, :remote => true, class: "customer-user-record")%>
        </h5>
        <h5 class="col-sm-3">
          <%= link_to "A mi Cuenta",  new_customers_user_path, id: "login-customer",class: "customer-user-record"  %>
        </h5>
      </div>
      <div class="row">
        <h5 class="col-sm-3">
          <%= link_to "Ingresar con Facebook", auth_facebook_callback_path , id: "login-fb",class: "customer-user-record"  %>
        </h5>
      </div>
  <% end %>

  <div id="customer-user"></div>


</div>

