<div id="limiter-2">
<% @page_title = 'Checkout' %>
<div class="checkout-">
  <div class="cloud-container">
    <%= image_tag("nube-3.png", class:'bigcloud-1') %>
    <%= image_tag("nube-4.png", class:'smallcloud-1') %>
    <%= image_tag("nube-3.png", class:'bigcloud-2') %>
    <%= image_tag("nube-4.png", class:'smallcloud-2') %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center order-notice">
        <p class="txt-orange">Falta poco para terminar tu orden. Recuerda que todos los pedidos se pagan a contraentrega (en efectivo).</p>
      </div>
      <div class="col-md-7">
        <div class="order-confirmation-container">
          <h1 class="txt-fat">1. Confirmación de orden</h1>
          <%= render 'shared/order_items', :order => @order %>
          <div class="modify-order">
            <a href="" class="txt-link">modificar orden</a>
          </div>
        </div><!-- /order-confirmation-container -->
      </div><!-- /col-md-7 -->

      <div class="col-md-5">
        <div id="customer-user" class="order-address-container">
          <%= render partial: 'orders/index'%>
        </div><!-- /order-address-container -->
      </div><!-- /col-md-5 -->

    </div><!-- row -->
  </div><!-- container-fluid -->
</div><!-- /checkout -->
<%= render "layouts/footer" %>
</div>