<%= form_for @customers_user, remote: true,  :html => { :id => "customer-submit" } do |f| %>
    <%= javascript_tag instance_errors(Shoppe::Customer, @customers_user)%>
    <div class="form-group">
      <%= f.label :Nombre, t('shoppe.customers.first_name') %>
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :apellido, t('shoppe.customers.last_name') %>
      <%= f.text_field :last_name, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, t('shoppe.customers.email') %>
      <%= f.text_field :email, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :celular, t('shoppe.customers.phone') %>
      <%= f.text_field :phone, :class => "form-control" %>
    </div>

    <% if p_field%>
        <div class="form-group">
          <%= f.label :password, "contraseña" %>
          <%= f.text_field :password, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmación de contraseña" %>
          <%= f.text_field :password_confirmation, :class => "form-control" %>
        </div>
    <% end %>
    <div class="actions">
      <input  type="submit" name="commit" value="Listo" class="btn-default">
    </div>
<% end %>
<%= render partial: 'orders/checkout_reload'%>





