<div id="customer-user" class="account-edit">
  <div class="cloud-container">
    <%= image_tag("nube-3.png", class:'bigcloud-1') %>
    <%= image_tag("nube-4.png", class:'smallcloud-1') %>
    <%= image_tag("nube-3.png", class:'bigcloud-2') %>
    <%= image_tag("nube-4.png", class:'smallcloud-2') %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center account-welcome">
        <h1 class="txt-fat">Bienvenido <%= @customers_user.first_name %></h1>
        <p class="txt-orange">Acá puedes editar tus datos personales y direcciones. Recuerda que debes ingresar tu contraseña para que los cambios se hagan efectivos. Al final dale clic al botón que dice "listo" y ya está.</p>
      </div><!-- /account-welcome -->

      <div class="col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1">
        <div class="account-edit-info">
          <h2 class="txt-fat">Datos personales</h2>
          <%= render partial: 'customers_users/new', locals: {p_field: true} %>
        </div><!-- /account-edit-info -->
      </div><!-- /col-md-4 -->

      <div class="col-sm-6 col-md-5">
        <div class="row">
          <div class="account-edit-addresses">
            <h2 class="txt-fat">Lista de direcciones</h2>
            <div class="col-sm-12">
              <%= render partial: 'address/delete',locals: { :@addresses => @customers_user.addresses} %>
            </div>
            <div class="col-sm-12">
              <h3 class="txt-fat">Agrega otra dirección</h3>
              <%= render partial: 'address/new', locals: { :@address =>  @address }  %>
            </div>
          </div> <!-- /account-edit-addresses -->
        </div><!-- /row -->
      </div><!-- /col-md-4 -->

      <div class="col-sm-12 col-sm-offset-0 col-md-6 col-md-offset-3 text-center">
        <div class="account-delete">
          <%= button_tag "Eliminar cuenta", id: "destroy-user", class: "btn-default" %>
        </div><!-- /account-delete -->
      </div><!-- /col-md-12 -->

    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /account-edit -->
<script>
  $("#destroy-user").click(function () {
    sweetAlert({
    title: "¿ Estas Seguro?",
    text: "No será capas de recuperar esta cuenta",
    type: "warning",   showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Si, Borrar Cuenta.",
    closeOnConfirm: false
    },
    function(){
      $.ajax({
          url: "/customers_users/"+<%= @customers_user.id %>,
          type: "DELETE",
          success: function(resp){
            sweetAlert("Borrada!", "Se ha borrado Tu cuenta", "success");
            setTimeout(function () {
              window.location.href = JSON.parse(resp).url;
            }, 650)
          },
          error: function (err) {
            console.log("error: "+ error)
          }
      });
    });
  });

</script>
<%= render "layouts/footer" %>
