<% @full_header = true %>
<% @page_title = 'Welcome' %>
<div id="" class="intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-8">
        <div class="text-intro">
          <p><span class="txt-fat">Somos</span> una fábrica de galletas. De galletas grandes. Nos dedicamos diariamente a hornear frescos y suavecitos pedazos de felicidad, hechos con el alma y los mejores ingredientes, entregados en la puerta de tu casa o empresa.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="pedidos" class="container-products">
  <%= render "layouts/how_to_order" %>
  <%= render 'shared/products_list', :products => @products %>
</div>
<div class="bg-gallery">
  <%= image_tag("bg-bogota.png") %>
</div>
<%= render "layouts/gallery" %>
<%= render "layouts/footer" %>


