<div id="galeria" class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 slides">
        <ul class="bxslider">
          <li><%= image_tag("slide01.png", class: "") %></li>
          <li><%= image_tag("slide02.png", class: "") %></li>
          <li><%= image_tag("slide03.png", class: "") %></li>
          <li><%= image_tag("slide04.jpg", class: "") %></li>
          <li><%= image_tag("slide05.jpg", class: "") %></li>
          <li><%= image_tag("slide06.jpg", class: "") %></li>
          <li><%= image_tag("slide07.jpg", class: "") %></li>
        </ul>
      </div><!-- /col-md-offset-2 -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /gallery -->