<div class="container">
    <div class="row">
      <div class="how-to-order">
        <div class="col-xs-6 col-sm-6 col-md-3 text-center">
          <div class="img-container img-online">
            <%= image_tag("icon-online@2x.png", alt: "online") %>
          </div>
          <span class="txt-fat">Online</span>
          <div class="img-container img-arrow visible-md visible-lg">
            <%= image_tag("icon-arrow-down@2x.png", alt: "ordene aquí") %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 text-center">
          <div class="img-container img-phone">
            <%= image_tag("icon-phone@2x.png", alt: "por teléfono") %>
          </div>
          <span class="txt-fat">5268353</span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 text-center">
          <div class="img-container img-app">
            <%= image_tag("icon-app@2x.png", alt: "por nuestra app") %>
          </div>
          <span class="txt-fat">App</span>
          <div class="os">
            <div class="img-container img-ios">
              <a href="" class="icon">
                <%= image_tag("icon-apple@2x.png", alt: "apple appstore") %>
              </a>
            </div>
            <div class="img-container img-android">
              <a href="" class="icon">
                <%= image_tag("icon-android@2x.png", alt: "android store") %>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 text-center">
          <span class="txt-fat txt-orange">Bogotá</span>
          <span class="txt-fat">11am a 8pm</span>
        </div>
      </div>
    </div>
  </div>