<!DOCTYPE html>
<html>
<head>
  <title>Soulcookies</title>
  <meta name="description" content="Somos una fábrica de galletas. Nos dedicamos diariamente a hornear frescos y suavecitos pedazos de felicidad, hechos con el alma y los mejores ingredientes para entregar en Bogotá.">
  <meta name="viewport" content="width=device-width">
  <%= render 'favicon' %>
  <meta property="og:image" content="<%= Rails.root.join('assets', 'images', 'fb.jpg') %>"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
</head>
<body class="custom" data-spy="scroll" data-target="#my-navbar" data-offset="120">
<%= render "layouts/navbar" %>
<div>
<%= yield %>
<div class="overlay">
	<div class="spinner">
		<div class="double-bounce1"></div>
	  <div class="double-bounce2"></div>
	</div>
</div>
</div>
</body>
</html>
