<!DOCTYPE html>
<html>
<head>
  <title>Shoppecookies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="custom" data-spy="scroll" data-target="#my-navbar" data-offset="120">
<%= render "layouts/navbar" %>
<%= yield %>

</body>
</html>
