<!DOCTYPE html>
<html>
<head>
  <title>Shoppecookies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_customer %>
    <h5>Bienvenido <%= current_customer.first_name %></h5>
<%end%>
<%= yield %>

</body>
</html>
